<div class="ptp-modal-background">
  <div class="ptp-modal-container">
    <h1>Match the prosumer to the project</h1>
    <div class="dropdown-container">
      <ng-select id="prosumers-dropdown" class="dropdown" [(ngModel)]="selectedProsumer">
        <ng-option disabled selected value="">Select Prosumer</ng-option>
        <ng-option *ngFor="let prosumer of prosumers | dropdownFilter: prosumerSearchText" [value]="prosumer.id">
          {{ prosumer.name }}
        </ng-option>
      </ng-select>
      <ng-select id="projects-dropdown" class="dropdown" [(ngModel)]="selectedProject">
        <ng-option disabled selected value="">Select Project</ng-option>
        <ng-option *ngFor="let project of projects" [value]="project.id">
          {{ project.name }}
        </ng-option>
      </ng-select>
      <button id="assign-button" class="greenish-button" (click)="matchPtoP()">Assign</button>
    </div>
    <button type="button" (click)="closeModal.emit()">Close</button>
  </div>
</div>
