.ptp-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ptp-modal-container {
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 95%; /* Increase the width to make the container wider */
  max-width: 600px; /* Set a maximum width for the container */
  overflow: visible;
  max-height: calc(100vh - 40px); /* Set a maximum height relative to the viewport height minus padding */
}

h1 {
  font-weight: bold;
  font-size: 20px; /* Adjust as needed */
  text-align: center;
  margin-bottom: 20px; /* Add margin for spacing */
}

.dropdown-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  overflow: visible; /* Allow overflow outside the container */
  position: relative; /* Ensure relative positioning for absolute positioning of dropdown list */
}

.dropdown-container .ng-dropdown-panel {
  position: absolute; /* Position the dropdown list absolutely */
  z-index: 1000; /* Ensure dropdown list is above other elements */
  background-color: white; /* Set background color for dropdown list */
  border: 1px solid #ccc; /* Add border for dropdown list */
  border-radius: 4px; /* Add border radius for dropdown list */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  max-height: 200px; /* Set maximum height for dropdown list */
  width: 100%; /* Set width to match parent container */
  top: calc(100% + 10px); /* Position dropdown list below select element */
  left: 0; /* Align dropdown list with left edge of select element */
}

.dropdown {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 10px; /* Add margin for spacing */
}

#assign-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px; /* Add margin for spacing */
}

#assign-button:hover {
  background-color: #45a049; /* Darker Green */
}

button {
  width: 100%;
  max-width: calc(100% - 20px); /* Set a maximum width relative to the container width */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"] {
  background-color: #ccc;
  margin-top: 10px;
}
