<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prosumer has project</title>
</head>
<body>
<header>
  <div (click)="navigateToDashboard()" class="logo-container">
    <!-- Your logo image goes here -->
    <img src="/assets/img/WhiteLogo.png" alt="Your Logo">
  </div>
  <div class="service-name">Add Project to Prosumer</div>
  <nav>
    <a class="nav-item" (click)="openUserModal = true">Add User</a>
    <a class="nav-item" *ngIf="shouldShowAddCountryLink()" (click)="openCountryModal = true">Add Country</a>
    <a class="nav-item" *ngIf="shouldShowAddCountryLink()" (click)="openZonesModal = true">Add Zones</a>
    <a class="nav-item" *ngIf="shouldShowAddCountryLink()" (click)="navigateToProsumerHasProject()">Project-To-Prosumer</a>
    <a class="nav-item" (click)="logout()">Change Realm</a>
  </nav>
  <div class="search-container">
    <input class="search-box" type="text" [(ngModel)]="searchTerm" placeholder="Search">
  </div>
</header>
<div class="dashboard-container">
  <br *ngIf="shouldShowAddCountryLink()">
  <br *ngIf="shouldShowAddCountryLink()">
  <br *ngIf="shouldShowAddCountryLink()">
  <button *ngIf="shouldShowAddCountryLink()" (click)="openPtoPModal = true" class="greenish-button">Add Project to Prosumer</button>
  <br *ngIf="shouldShowAddCountryLink()">
  <br *ngIf="shouldShowAddCountryLink()">
  <table>
    <thead>
    <tr>
      <th>Prosumer</th>
      <th>Project Name</th>
      <th style="color: #ff6363; text-align: center;">Delete Association</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prosumer_has_project of prosumers_has_projects |  multiSort:['[2]', '[3]', '[0]']  | search: searchTerm">
      <td>{{ prosumer_has_project[0] }}</td>
      <td>{{ prosumer_has_project[3] }}</td>
      <td>
        <!-- Add a delete button for each user -->
        <div class="delete-icon" style="display: flex; justify-content: center; align-items: center;">
          <img (click)="deleteAssociation(prosumer_has_project[1],prosumer_has_project[2])" alt="trashcan" [src]="'/assets/img/trashcan.svg'" style="width: 25px; height: 25px; cursor: pointer;">
        </div>
      </td>
      <!-- Add more columns as needed -->
    </tr>
    </tbody>
  </table>
  <!-- Your existing code -->

  <!-- Add User Modal -->
  <app-user-modal *ngIf="openUserModal" (closeModal)="openUserModal = false"></app-user-modal>

  <!-- Add Country Modal -->
  <app-country-modal *ngIf="openCountryModal" (closeModal)="openCountryModal = false"></app-country-modal>

  <!-- Add Zones Modal -->
  <app-zone-modal *ngIf="openZonesModal" (closeModal)="openZonesModal = false"></app-zone-modal>

  <!-- Add PtoP Modal -->
  <app-add-project-to-prosumer *ngIf="openPtoPModal" (closeModal)="openPtoPModal = false"></app-add-project-to-prosumer>

</div>
</body>
</html>
