<body class="login-body">
<img class="image" alt="keycloak" [src]="'/assets/img/keycloak.svg'">
<h1 class="page-title">Keycloak User Registration Panel</h1>
<div class="login-container">
  <h3 class="typed-text">Enter your secret...</h3>
  <div class="input-container">
    <input (keyup.enter)="login()" type="text" [(ngModel)]="selectedProject" placeholder="Secret">
    <button class="check-button" (click)="login()">
      <img src="/assets/img/login.svg" alt="Login" style="width: 35px; height: 35px;">
    </button>
  </div>

</div>
</body>
